@font-face {
    font-family: "Roboto-Black";
    src: url(/fonts/Roboto-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(/fonts/Roboto-Thin.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url(/fonts/PlayfairDisplay-Black.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url(/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "HammersmithOne";
    src: url(/fonts/HammersmithOne-Regular.ttf) format("truetype");
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.upper-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 670px;
    margin: auto;
    opacity: 0.85;

}

.header {
    position: relative;
    top: 15px;
    width: 940px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo p{
    margin-left: 11px;
    width: 73px;
    height: 29px;
    color: #00e0d0;
    font-family: "Roboto-Thin";
    font-size: 30px;
    font-weight: 50;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.nav-menu {
    width: 526px;
    display:flex;
    justify-content: space-around;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto-Black";
}

.nav-content ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;

}
.nav-content li:hover{
    color: #00e0d0;
    font-style: normal;
    letter-spacing: 0.33px;
    line-height: normal;
}

.middle-article {
    width: 771px;
    margin: 183px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.box-h1 {
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay-Black";
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.boxline-contain{
    display: flex;
    justify-content: center;
}
.box-line {
    width: 50px;
    height:1px;
    background-color: #00e0d0;
    margin: 21px auto 30px auto;

}

.box-text {
    color: #ffff;
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.box-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;

    
}

.middle-container {
    width: 873px;
    height: 402px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-content{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.middle-logo {
    display: flex;
    margin-right: 100px;
}

.box-article {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.middlebox-header {
    text-align: left;
    color: #413d4b;
    font-family: "PlayfairDisplay";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.1px;

}
.middlebox-article {
    margin-top: 18px;
    text-align: left;
    opacity: 0.75;
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.42px;

}
#p1{
    margin-bottom: 20px;
}

.middlebox-button {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.middlebox-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;


}
.video-content {
    width: 1600px;
    height: 550px;
    margin: 0 auto;
    background-image: url("/img/bgk-middle.png");
    background-color: rgb(245, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player p{
    margin-top: 34px;
    color: #ffffff;
    font-family: "Roboto-Black";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.expertise-content {
    width: 1600px;
    height: 755px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;}

.expertise-title {
    color: #413d4b;
    font-family: playfair Display;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-top: 3%;
}

.expertise-text {
    color:#2f2d35;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.05px;
    padding-top: 1%;}

.expertise-line {
    background-color:white;
    text-align: center;
    /*  margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;}

.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    padding-top: 5%;}

.card-box div:nth-child(1) {
    border-bottom: lightgray solid 1px;
    border-right:lightgray  solid 1px;}

.card-box div:nth-child(2) {
    border-bottom: lightgray solid 1px;
    border-right: lightgray solid 1px;}

.card-box div:nth-child(3) {
    border-bottom: lightgray solid 1px;}

.card-box div:nth-child(3) {
    border-bottom: lightgray solid 1px;}

.card-box div:nth-child(4) {
    border-right: lightgray solid 1px;}

.card-box div:nth-child(5) {
    border-right: lightgray solid 1px;}

.card {
    width: 27%;
    height: 200px;
    background-color: white;
    text-align: center;
    padding-bottom: 10%;}
.img-sec-4{
    padding-top: 7%;
    padding-bottom: 5%;}

.p-sec-4{
    padding-top: 3%;
    padding-bottom: 10%;}
.team-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 700px;
    margin: auto;}
.Team-title{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay-Black";
    font-size: 32px;
    padding-top: 3%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;

}
.Team-text{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.boxline-team{
    display: flex;
    justify-content: center;
}

.box-line {
    /* Style for "Separator" */
width: 50px;
height: 2px;
background-color: #ffffff;
opacity: 0.2;
}
.team-img{
display: flex;
justify-content:center;
align-items: center;
text-align: center;
}
.img-size{
    width: 220px;
    height: 229px;
    margin: 10px;
}
.h2-p{
    /* Style for "bg" */
width: 220px;
height: 79px;
border: 1px solid #e1e1e1;
opacity: 0.5;
color: #ffffff;
font-family: Roboto - black;
size: 14px;
font-weight: 400;
margin: 10px;
}
#p. {
width: 97px;
height: 9px;
opacity: 0.7;
color: #fafafa;
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

.team-botton{
    
    height: 100px;
    text-align: center;
    margin: 30px;
    font-size: 14px;
    font-weight: 300;
    color: #f3f3f3;
}

.team--button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.team--button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;

    
}
