* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 80%;
    height: 670px;
    background-image:url(/img/bgk-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

ul {
    list-style-type: none;
    color: aliceblue;
    

    float: left;
}

li {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }