@font-face {
    font-family: "Roboto-Black";
    src: url(/fonts/Roboto-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(/fonts/Roboto-Thin.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url(/fonts/PlayfairDisplay-Black.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url(/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "HammersmithOne";
    src: url(/fonts/HammersmithOne-Regular.ttf) format("truetype");
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.upper-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 670px;
    margin: auto;
    opacity: 0.85;

}

.header {
    position: relative;
    top: 15px;
    width: 940px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo p{
    margin-left: 11px;
    width: 73px;
    height: 29px;
    color: #00e0d0;
    font-family: "Roboto-Thin";
    font-size: 30px;
    font-weight: 50;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.nav-menu {
    width: 526px;
    display:flex;
    justify-content: space-around;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto-Black";
}

.nav-content ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;

}
.nav-content li:hover{
    color: #00e0d0;
    text-shadow: #3333 1px 0 10px;
    transform: scale(1.1);
}

.middle-article {
    width: 771px;
    margin: 183px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.box-h1 {
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay-Black";
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.boxline-contain{
    display: flex;
    justify-content: center;
}
.box-line {
    width: 50px;
    height:1px;
    background-color: #00e0d0;
    margin: 21px auto 30px auto;

}

.box-text {
    color: #ffff;
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.box-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00e0d0;
    transition: ease-out 0.35s;

}
.box-button button:hover, .middlebox-button button:hover {
    box-shadow: inset 400px 0 0 0 #00e0d0;
    color: white;
}
.box-button button:active, .middlebox-button button:active{
    transform: scale(1.1);
    background-color: #00e0d0;
}


.middle-container {
    width: 873px;
    height: 402px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-content{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.middle-logo {
    display: flex;
    margin-right: 100px;
}

.box-article {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.middlebox-header {
    text-align: left;
    color: #413d4b;
    font-family: "PlayfairDisplay";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.1px;

}
.middlebox-article {
    margin-top: 18px;
    text-align: left;
    opacity: 0.75;
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.42px;

}
#p1{
    margin-bottom: 20px;
}

.middlebox-button {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.middlebox-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00e0d0;
    transition: ease-out 0.35s;


}
.video-content {
    width: 1600px;
    height: 550px;
    margin: 0 auto;
    background-image: url("/img/bgk-middle.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-player p{
    margin-top: 34px;
    color: #ffffff;
    font-family: "Roboto-Black";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.expertise-content {
    width: 1600px;
    height: 755px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;}
    
.expertise-title {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    width: 100%;
    line-height: normal;
    margin-top: 72px;
    
}

.expertise-text {
    color:#2f2d35;
    font-family: "PlayfairDisplay";
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.05px;
    width: 100%;
    line-height: normal;
    margin-top: 16px;
}
.expertise-line {
    background-color:#413d4b;
    text-align: center;
    /*  margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height:2px;
    margin-top: 18px;
}

.card-box {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 500px;
    margin-top: 48px;}

.cardbox-content{
    width: 943px;
    height: 503px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

/*.card-box div:nth-child(1) {
    border-bottom: lightgray solid 1px;
    border-right:lightgray  solid 1px;
    
}
.card-box div:nth-child(2) {
    border-right: lightgray solid 1px;
}

.card-box div:nth-child(3) {
    border-bottom: lightgray solid 1px;
}
.card-box div:nth-child(5) {
        border-bottom: lightgray solid 1px;
        border-left: lightgray solid 1px;}
.card-box div:nth-child(6) {

    border-left: lightgray solid 1px;}
    */
.card {
    width: 313px;
    height: 250px;
    background-color: white;
    text-align: center;}
.img-sec-1{
width: 49px;
height: 50px;

}
.img-sec-2{
    width: 50px;
    height: 42px;

}
.img-sec-3{
    width: 28px;
    height: 50px;

}
.img-sec-4{
    width: 50px;
    height: 50px;

}
img.sec-5{
    width: 50px;
    height: 50px;

}
.img-sec-6{
    width: 41px;
    height: 50px;
}
.card h3{
    margin-top:20px;
    font-size: 14px;
}
.p-sec-4{
    opacity: 0.75;
    color:#333333;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;
    font-size: normal;
    letter-spacing: 0.7px;
    line-height: normal;
    margin-top: 20px;

    
}
.team-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 700px;
    margin: auto;}
.Team-title{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.1px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3%;
    

}
.Team-text{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 15px;
    text-align: center;
    color: #f9f9f9;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 1.05px;
}



.box-line {
    /* Style for "Separator" */
width: 50px;
height: 2px;
background-color: #ffffff;
opacity: 0.2;
}
.team-img{
display: flex;
gap:1em;
justify-content: center;
}
.img-size{
    width: 220px;
    height: 229px;
}
.h2-p-1{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 10px;
}
.h2-p-2{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 4px;
}
.h2-p-3{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 5px;
}
.h2-p-4{
    /* Style for "bg" */
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: -4px;
}
#p {
width: 97px;
height: 9px;
opacity: 0.7;
color: #fafafa;
font-family: "Roboto";
font-size: 13px;
font-weight: 300;
text-align:center;
padding-top: 1em;
text-transform: uppercase;
}
.p-2{
    opacity: 0.7;
    color: #fafafa;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    text-align:center;
    padding-top: 2em;
    text-transform: uppercase;}
.p-3{
        opacity: 0.7;
        color: #fafafa;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 300;
        text-align:center;
        padding-top: 2em;
        text-transform: uppercase;}
.p-4{
            opacity: 0.7;
            color: #fafafa;
            font-family: "Roboto";
            font-size: 13px;
            font-weight: 300;
            text-align:center;
            padding-top: 2em;
            text-transform: uppercase;
            padding-top: 20%;
            }
.Team-card{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid white;}
.team-botton{
    
    height: 100px;
    text-align: center;
    margin: 40px;
    font-size: 14px;
    font-weight: 300;
    color: #f3f3f3;
}
.team-botton p {
    width: 100%;
    height: 14px;
    color: #f3f3f3;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: normal;
    padding-top: 2rem;
}
.team--button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.team--button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    margin-top: 20px;
}
