@font-face {
    font-family: "Roboto-Black";
    src: url(/fonts/Roboto-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(/fonts/Roboto-Thin.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url(/fonts/PlayfairDisplay-Black.ttf) format("truetype");
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url(/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "HammersmithOne";
    src: url(/fonts/HammersmithOne-Regular.ttf) format("truetype");
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.upper-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 670px;
    margin: auto;
    opacity: 0.85;

}

.header {
    position: relative;
    top: 15px;
    width: 940px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo p{
    margin-left: 11px;
    width: 73px;
    height: 29px;
    color: #00e0d0;
    font-family: "Roboto-Thin";
    font-size: 30px;
    font-weight: 50;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.nav-menu {
    width: 526px;
    display:flex;
    justify-content: space-around;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto-Black";
}

.nav-content ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;

}
.nav-content li:hover{
    color: #00e0d0;
    text-shadow: #3333 1px 0 10px;
    transform: scale(1.1);
}

.middle-article {
    width: 771px;
    margin: 183px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.box-h1 {
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay-Black";
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.boxline-contain{
    display: flex;
    justify-content: center;
}
#boxline-above {
    background-color: #00e0d0;
    width: 50px;
    height:1px;
    margin: 21px auto 30px auto;

}

.box-text {
    color: #ffff;
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.box-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00e0d0;
    transition: ease-out 0.35s;

}
.box-button button:hover, .middlebox-button button:hover {
    box-shadow: inset 400px 0 0 0 #00e0d0;
    color: white;
}
.box-button button:active, .middlebox-button button:active{
    transform: scale(1.1);
    background-color: #00e0d0;
}


.middle-container {
    width: 873px;
    height: 402px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-content{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.middle-logo {
    display: flex;
    margin-right: 100px;
}

.box-article {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.middlebox-header {
    text-align: left;
    color: #413d4b;
    font-family: "PlayfairDisplay";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.1px;

}
.middlebox-article {
    margin-top: 18px;
    text-align: left;
    opacity: 0.75;
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.42px;

}
#p1{
    margin-bottom: 20px;
}

.middlebox-button {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.middlebox-button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00e0d0;
    transition: ease-out 0.35s;


}
.video-content {
    width: 1600px;
    height: 550px;
    margin: 0 auto;
    background-image: url("/img/bgk-middle.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-player p{
    margin-top: 34px;
    color: #ffffff;
    font-family: "Roboto-Black";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.expertise-content {
    width: 1600px;
    height: 755px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;}
    
.expertise-title {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    width: 100%;
    line-height: normal;
    margin-top: 72px;
    
}

.expertise-text {
    color:#2f2d35;
    font-family: "PlayfairDisplay";
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.05px;
    width: 100%;
    line-height: normal;
    margin-top: 16px;
}
.expertise-line {
    background-color:#413d4b;
    text-align: center;
    /*  margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height:2px;
    margin-top: 18px;
}

.card-box {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 500px;
    margin-top: 48px;
}

.cardbox-grid{
    display: grid;
    width: 940px;
    height: 500px;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    
}
.cardbox-grid > div{
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 27px;

}
.card-1{
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;

}
.card-2{
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
}
.card-3{
    border-bottom: 1px lightgray solid;
}
.card-4{
    border-right: 1px lightgray solid;
}
.card-5{
    border-right: 1px lightgray solid;
}
.card-5{
    border-right: 1px lightgray solid;
}



/*.card-box div:nth-child(1) {
    border-bottom: lightgray solid 1px;
    border-right:lightgray  solid 1px;
    
}
.card-box div:nth-child(2) {
    border-right: lightgray solid 1px;
}

.card-box div:nth-child(3) {
    border-bottom: lightgray solid 1px;
}
.card-box div:nth-child(5) {
        border-bottom: lightgray solid 1px;
        border-left: lightgray solid 1px;}
.card-box div:nth-child(6) {

    border-left: lightgray solid 1px;}
    */

.img-sec-1{
width: 49px;
height: 50px;



}
.img-sec-2{
    width: 50px;
    height: 42px;

}
.img-sec-3{
    width: 28px;
    height: 50px;

}
.img-sec-4{
    width: 50px;
    height: 50px;

}
img.sec-5{
    width: 50px;
    height: 50px;

}
.img-sec-6{
    width: 41px;
    height: 50px;
}
.card h3{
    margin-top:25px;
    font-size: 14px;
}
.p-sec-4{
    opacity: 0.75;
    color:#333333;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;
    font-size: normal;
    letter-spacing: 0.7px;
    line-height: normal;
    margin-top: 35px;

    
}
.team-content {
    background-image: url("/img/bgk-header.png");
    width: 1600px;
    height: 700px;
    margin: auto;}
.Team-title{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "PlayfairDisplay";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.1px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 71px;
    padding-top: 2rem;
    

}

.Team-text{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 15px;
    text-align: center;
    color: #f9f9f9;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 1.05px;
    margin-top: 16px;
}



.box-line {
    /* Style for "Separator" */
width: 50px;
height: 2px;
background-color: #ffffff;
opacity: 0.2;
margin-top: 18px;
}
.team-img{
display: flex;
gap:1em;
justify-content: center;
margin-top: 47px;
}
.img-size{
    width: 220px;
    height: 229px;
}
.h2-p-1{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 20px;
}
.h2-p-2{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 4px;
}
.h2-p-3{
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: 5px;
}
.h2-p-4{
    /* Style for "bg" */
color: #ffffff;
font-family: "Roboto-Black";
font-size: 14px;
font-weight:400;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: normal;
margin: -4px;
}
#p {
width: 97px;
height: 9px;
opacity: 0.7;
color: #fafafa;
font-family: "Roboto";
font-size: 13px;
font-weight: 300;
text-align:center;
margin-top: 70px;
text-transform: uppercase;
}
.p-2{
    opacity: 0.7;
    color: #fafafa;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    text-align:center;
    padding-top: 2em;
    text-transform: uppercase;}
.p-3{
        opacity: 0.7;
        color: #fafafa;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 300;
        text-align:center;
        padding-top: 2em;
        text-transform: uppercase;}
.p-4{
            opacity: 0.7;
            color: #fafafa;
            font-family: "Roboto";
            font-size: 13px;
            font-weight: 300;
            text-align:center;
            padding-top: 2em;
            text-transform: uppercase;
            padding-top: 20%;
            }
.p-4-4{
    color: #fafafa;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}
.Team-card{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid white;}
.team-botton{
    
    height: 100px;
    text-align: center;
    margin: 40px;
    font-size: 14px;
    font-weight: 300;
    color: #f3f3f3;
}
.team-botton p {
    width: 100%;
    height: 14px;
    color: #f3f3f3;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: normal;
    margin-top: 70px;
}
.team--button {
    display: flex;
    justify-content: center;
    margin-top: 41px;
}

.team--button button{
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    margin-top: 20px;
}


/* 
##########################
__________________________
     /\_/\
    ( o.o )
     > ^ <
 Client area starts here!
__________________________
##########################
*/

.client-area {
    width: 1600px;
    height: 654px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;
}

.form-box {
    width: 460px;
    height: 95%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 331px;
}



.logo-text {
    /* Style for "GIVE US A" */
    /* border: 2px solid black; */
    width: 266px;
    height: 16px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.1px;
    line-height: normal;
    margin: 72px 0 35px 20px;

}

form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 21px;
    /*   margin-top: 35px; */
    /*   border: #2f2d35 solid 3px; */
}

#client-area-form input[type="text"] {

    height: 45px;
    border: 1px solid rgba(55, 55, 55, 0.1);
 
}

#client-area-form input::placeholder {
    font-weight: bold;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

textarea::placeholder {
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}


#client-area-form textarea {
    /*    background-color: #00e0d0; */
    height: 200px;
    border: 1px solid #000000;
    opacity: 0.8;
    resize: none;
    font-family: Roboto;
    padding-top: 22px;
    font-size: 14px;
    border: 1px solid rgba(55, 55, 55, 0.1);
}

input[type="text"]:focus {
    background-color: #00e0d0;


}

textarea:focus {
    background-color: #00e0d0;
    opacity: 0.2;
}

#client-area-form button {
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    /*   line-height: normal; */
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

#client-area-form button:hover {

    color: #ffffff;
    transition: 0.3s ease-in-out;
    background: #00e0d0;
}


.logo-container {

    width: 460px;
    /*     border: 3px dotted rgb(255, 49, 49); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
}

.one-big-logo-box {
    /*     border: dotted mistyrose 7px; */
    display: flex;
    gap: 80px;
}

.second-box-logo {
    /*     border: dotted blue 5px; */
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
}

.second-box-logo2 {
    /*     border: dotted rgb(244, 134, 134) 5px; */
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;

}




.logo-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .zara-logo {
    background-color: mistyrose;
    width: 162px;
    height: 22px;
    display: flex;
    margin: 0px 0px 0 0;
} */


.logo-box-text {
    /* Style for "OUR HAPPY" */
    width: 228px;
    height: 16px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.1px;
    line-height: normal;
    margin: 72px 0 47px 0;
    display: inline-block;

    /* background-color: #00e0d0; */
    /*     border: red dotted 10px; */
}

/* 
##########################
__________________________
     /\_/\
    ( o.o )
     > ^ <
 Client area ends here!
__________________________
##########################
*/


















/* 
##########################
__________________________
     /\_/\
    ( o.o )
     > ^ <
 Footer area starts here!
__________________________
##########################
*/

.footer-content {
    width: 1600px;
    height: 400px;
    background-image: url(/img/bgk-footer.png);
    margin: 0 auto 0 auto;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*     border: dotted chartreuse 5px; */
}

.footer-logo-box {
    width: 301px;
    height: 100%;
   
    margin-top: -20px;
    margin-left: 331px;
}

.footer-logo {

    /*     border: dotted rgb(0, 0, 0) 5px; */
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 70px;

}

.tajam-text {

    width: 73px;
    height: 29px;
    color: #00e0d0;
    font-family: "Roboto-Thin";
    font-size: 30px;
    font-weight: 50;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 11px;


}

.footer-text {
    /* border: dotted black 5px; */
    width: 283px;
    height: 89px;
    margin: 10% 0px 0px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    margin-top: 21px;
    letter-spacing: 0.35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
 

}

.footer-terms {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;

    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 82px 0 72px -10px;
}

.footer-terms div:nth-child(1) {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    margin: auto;
}

.footer-terms div:nth-child(2) {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    margin: auto;
}

.footer-terms div:nth-child(3) {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
     margin: auto;
}




.footer-studio-box {
Í
    width: 30%;
    height: 95%;

}

.standort-icon {
    height: 14px;
    
}

.footer-studio-text {
/*     border: mistyrose dotted 5px; */

width: 283px;
height: 44px;
color: #ffffff;
font-family: "Roboto - Black";
font-size: 18px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 26px;
text-align: left;
text-transform: uppercase;
/* Text style for "O, UR STUD" */
font-style: normal;
letter-spacing: 0.75px;
line-height: normal;
margin-top: 60px;
}

.footer-studio-address {
    width: 283px;
    height: 89px;
    margin: 10% 0px 0px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    margin-top: 21px;
    letter-spacing: 0.35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
/*     border: #00e0d0 dotted 5px; */
    display: flex;
   
    align-items:flex-start
}

.footer-studio-address p {
    margin-top: -5px;
    
}

.footer-studio-phone p {
    margin-top: -5px;
 
}



.footer-studio-phone {

 width: 283px;
 height: 89px;

 color: #ffffff;
 font-family: Roboto;
 font-size: 14px;
 font-weight: bold;
 margin-top: 21px;
 letter-spacing: 0.35px;
 font-style: normal;
 letter-spacing: normal;
 line-height: 26px;
/*  border: #00e0d0 dotted 5px; */
 display: flex;

 align-items:flex-start;
 margin-top: -8px;
}

.footer-subscribe-box {
    width: 301px;
    height: 100%;
    /*     border: dotted chartreuse 5px; */
    margin-top: 0;
    margin-right: 331px;
    display: flex;
    flex-direction: column;
}

.footer-subscribe-text {
    width: 283px;
height: 44px;
color: #ffffff;
font-family: "Roboto - Black";
font-size: 18px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 26px;
text-align: left;
text-transform: uppercase;
/* Text style for "O, UR STUD" */
font-style: normal;
letter-spacing: 0.75px;
line-height: normal;
margin-top: 60px;
}

.footer-subscribe-form {
 /*   border: dotted mistyrose 5px; */
    width: 301px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

.footer-subscribe-form input[type="email"] {
    width: 500px;
    height: 45px;
/* 4 */
/*  border: dotted 10px red; */
background-color:transparent;
/* border: solid 1px #f3f3f3; */
border: 1px solid rgba(190, 190, 190, 0.476);


   
}

.footer-subscribe-form input::placeholder {
    font-weight: bold;
    color: #c1c1c1;
    opacity: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.footer-subscribe-form button {
    width: 180px;
    height: 45px;
    border: 1px solid rgba(190, 190, 190, 0.476);
   
    color: #00e0d0;
    font-family: "HammersmithOne";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    /*   line-height: normal; */
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(190, 190, 190, 0.476);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.footer-subscribe-form button:hover {

    color: #ffffff;
    transition: 0.3s ease-in-out;
    background: #00e0d0;
}

.footer-subscribe-logos img {
   /*  background-color: #00e0d0; */
   padding: auto;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   


}

.footer-subscribe-form form:nth-child(1) {
    width: 40%;
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.footer-subscribe-logos {
    /* background-color: rgb(252, 171, 210); */
    width: 251px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 38px;
    
}

.footer-subscribe-logos a:nth-child(1) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 13px;
    
}

.footer-subscribe-logos a:nth-child(2) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer-subscribe-logos a:nth-child(3) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    padding-left: 8.3px;
    padding-bottom: 9px;
}

.footer-subscribe-logos a:nth-child(4) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 9px;
    padding-bottom: 1px;
}

.footer-subscribe-logos a:nth-child(5) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 8px;
}

.footer-subscribe-logos a:nth-child(6) {
    border: 1px solid #ffff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    padding-left: 8px;
    padding-bottom: 11px;
}

.footer-subscribe-copyright {
/* border: dotted mistyrose 5px; */
  /* Style for "Copyright" */
width: 300px;
height: 14px;
color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 26px;
text-align: right;
/* Text style for "C, opyrigh" */
font-style: normal;
letter-spacing: 0.35px;
line-height: normal;
margin-top: 50px;
margin-left: -10px;
padding-bottom: -150px;

}

/* 
##########################
__________________________
     /\_/\
    ( o.o )
     > ^ <
 Footer ends starts here!
__________________________
##########################
*/





